.output {
  display: none;
  border: solid lightblue 3px;
  text-align: center;
  font-size: 20px;
  background-color: lightgrey;
  padding-top: 5px;
}

.panel-info h1 {
  margin-left: 2%;
}

.panel-heading h1 {
  color: black;
  text-align: center;
}
